/* Sidebar Styles */

.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 160px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  left: 0;
  background-color: #111;
  /* Black */
}

.sidebar-nav {
  min-height: 100vh;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  height: 100%;
  position: -ms-page;
  margin: 0;
  padding: 0;
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  list-style: none;
  text-align: left;
  background-color: #003D7F;
}

 .sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #006ADE;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
  background-color: #006ADE;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #006ADE;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #006ADE;
  background: none;
} 

/* Separators */

.sidebar-separator-title {
  background-color: #006ADE;
  height: 35px;
}

.sidebar-separator {
  background-color: #006ADE;
  height: 25px;
}

.logo-separator {
  background-color: #006ADE;
  height: 60px;
}

li.nav-item {
  cursor: pointer;
}
