<!-- Sidebar -->
<div>
  <div id="AdminSideBar" class="sidebar-expanded d-none d-sm-block">
    <ul class="sidebar-nav">
      <li class="nav-item">
        <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-k-primary list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-user fa-fw mr-3"></span>
            <span class="menu-collapsed">Rodrigo Rubio</span>
            <span class="fa fa-sort-down  ml-auto"></span>
          </div>
        </a>
        <!-- Submenu content -->
        <div id='submenu2' class="collapse sidebar-submenu">
          <a href="#" class="list-group-item list-group-item-action bg-k-primary text-white">
            <span class="menu-collapsed">Configuración</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-k-primary text-white">
            <span class="menu-collapsed">Cerrar sesión</span>
          </a>
        </div>
        <a class="nav-link active">
          <i class="fa fa-home feather feather-layers"></i>
          Inicio
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="list-group-item sidebar-separator-title d-flex align-items-center menu-collapsed">
        <small>Menu principal</small>
      </li>
      <li class="nav-item">
        <a class="nav-link active">
          <i class="fa fa-file feather feather-layers"></i>
          Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <i class="fa fa-file feather feather-layers"></i>
          Empresas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fa fa-user feather feather-layers"></i>
          Usuarios
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fa fa-signal feather feather-layers"></i>
          Reportes
        </a>
      </li>
    </ul>
  </div>
</div>
