<div class="row justify-content-center ">
  <div class="columna col-4">
    <h1>Representante Legal</h1>
  </div>
</div>
<form>
  <div class="form-group row ">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Nombres / Apellidos:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="razonSocial" placeholder="Nombres / Apellidos">
    </div>
  </div>
  <div class="form-group row ">
    <label for="inputEmail3" class="col-sm-2 col-form-label">RFC</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="razonSocial" placeholder="Teléfono">
    </div>
    <label for="inputEmail3" class="col-sm-2 col-form-label">Teléfono local o celular</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="razonSocial" placeholder="Teléfono">
    </div>
    <label for="inputEmail3" class=" col-sm-2 col-form-label">e-mail:</label>
    <div class=" col-sm-2">
      <input type="text" class="form-control" id="razonSocial" placeholder="e-mail">
    </div>
  </div>
<div class="row justify-content-center ">
  <div class="columna col-4"><br><br>
    <h5>Domicilio-Representante Legal</h5>
  </div>
</div>
<div class="form-group row ">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Calle, Avenida o Vía</label>
  <div class="col-sm-4">
    <input type="text" class="form-control" id="razonSocial" placeholder="Calle, Avenida o Vía">
  </div>
  <label for="inputEmail3" class="col-sm-1 col-form-label">No. Ext:</label>
  <div class=" col-sm-2">
    <input type="text" class="form-control" id="razonSocial" placeholder="No. Ext">
  </div>
  <label for="inputEmail3" class="col-sm-1 col-form-label">No. Int:</label>
  <div class=" col-sm-2">
    <input type="text" class="form-control" id="razonSocial" placeholder="No. Int">
  </div>
</div>
<div class="form-group row ">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Colonia	o	Delegación</label>
  <div class="col-sm-4">
    <input type="text" class="form-control" id="razonSocial" placeholder="Colonia	o	Delegación">
  </div>
  <label for="inputEmail3" class="col-sm-3 col-form-label">Municipio/Cuidad	o	población	</label>
  <div class="col-sm-3">
    <input type="text" class="form-control" id="razonSocial" placeholder="Municipio/Cuidad	o	población">
  </div>
</div>
<div class="form-group row ">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Código	Postal:</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" id="razonSocial" placeholder="Código	Postal">
  </div>
  <label for="inputEmail3" class="col-sm-1 col-form-label">Estado:</label>
  <div class=" col-sm-2">
    <input type="text" class="form-control" id="razonSocial" placeholder="Estado">
  </div>
  <label for="inputEmail3" class="col-sm-1 col-form-label">País:</label>
  <div class=" col-sm-2">
    <input type="text" class="form-control" id="razonSocial" placeholder="País">
  </div>
</div>
<div class="row justify-content-center ">
  <div class="columna col-4"><br><br>
    <h5>Preguntas Rápidas</h5>
  </div>
</div>
    <div class="row justify-content-center">
      <div class="form-group col-10">
         <label for="codigo-postal">¿Usted	desempeña o	ha	desempeñado	funciones	públicas	destacadas	en	México	o	en	el	extranjero,	altos	puestos	ejecutivos	en	empresas	estatales	o
funciones	 importantes	 en	 partidos	 políticos?	 Si	/ No	 Especificar
cargo</label>
         <input type="text" class="form-control" id="codigo-postal" placeholder="Respuesta">
       </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-10">
         <label for="codigo-postal">¿Su	cónyuge	o	alguno	de	sus	padres,	abuelos,	hijos,	nietos,	hermanos,	suegros,	hijos	políticos,	abuelos	políticos	o	cuñados,	desempeña	o	ha	desempeñado
funciones	públicas	destacadas	en	México	o en	el	extranjero,	altos	puestos	ejecutivos	en	empresas	estatales	o	funciones	importantes	en	partidos	políticos?
Si / No	Especificar	 parentesco,	 nombre	 de	 su	 familia	 y	 cargo</label>
         <input type="text" class="form-control" id="codigo-postal" placeholder="Respuesta">
       </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-10">
         <label for="codigo-postal">¿Algunos	de	los	socios	o	accionistas	desempeña	o	ha	desempeñado	funciones	públicas	destacadas	en	México	o	en	el	extranjero,	altos	puestos	ejecutivos
empresas	 estatales	 o	 funciones	 públicas	 importantes	 en	 partidos	 políticos?	Si / No	Especificar cargo</label>
         <input type="text" class="form-control" id="codigo-postal" placeholder="Respuesta">
       </div>
    </div>
<div class="row justify-content-end">
  <div class="columna col-3">
  <a routerLink="/registro/domicilio"><button type="button" class="btn btn-primary btn-md btn-block">Continuar</button></a>
  </div>
</div>
</form>
