<div class="container registro_container" @animationSwitch>
  <br>
  <br>
  <div class="row justify-content-center">
    <img src="assets/img/logo-blanco.png" width=170px; alt="" id="logo_login">
  </div>
  <br>
  <br>
  <div class="row justify-content-center">
    <h2> Cuéntanos de ti</h2>
  </div>
  <div class="row justify-content-center">
    <p>Con tu fecha y lugar de nacimiento podemos calcular tu RFC y CURP</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <form class="text-center">
        <div class="form-group">
          <label for="">Día:</label>
          <select class="form-control" id="dias">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
            <option>24</option>
            <option>25</option>
            <option>26</option>
            <option>27</option>
            <option>28</option>
            <option>29</option>
            <option>30</option>
            <option>31</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <form class="text-center">
        <div class="form-group">
          <label for="">Mes:</label>
          <select class="form-control" id="dias">
            <option>Enero</option>
            <option>Febrero</option>
            <option>Marzo</option>
            <option>Abril</option>
            <option>Mayo</option>
            <option>Junio</option>
            <option>Julio</option>
            <option>Agosto</option>
            <option>Septiembre</option>
            <option>Octubre</option>
            <option>Noviembre</option>
            <option>Diciembre</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <form class="text-center">
        <div class="form-group">
          <label for="">Año:</label>
          <select class="form-control" id="dias">
            <option>2000</option>
            <option>1999</option>
            <option>1998</option>
            <option>1997</option>
            <option>1996</option>
            <option>1995</option>
            <option>1994</option>
            <option>1993</option>
            <option>1992</option>
            <option>1991</option>
            <option>1990</option>
            <option>1989</option>
            <option>1988</option>
            <option>1987</option>
            <option>1986</option>
            <option>1985</option>
            <option>1984</option>
            <option>1983</option>
            <option>1982</option>
            <option>1981</option>
            <option>1980</option>
            <option>1979</option>
            <option>1978</option>
            <option>1977</option>
            <option>1976</option>
            <option>1975</option>
            <option>1974</option>
            <option>1973</option>
            <option>1972</option>
            <option>1971</option>
            <option>1970</option>
            <option>1969</option>
            <option>1968</option>
            <option>1967</option>
            <option>1966</option>
            <option>1965</option>
            <option>1964</option>
            <option>1963</option>
            <option>1962</option>
            <option>1961</option>
            <option>1960</option>
            <option>1959</option>
            <option>1958</option>
            <option>1957</option>
            <option>1956</option>
            <option>1955</option>
            <option>1954</option>
            <option>1953</option>
            <option>1952</option>
            <option>1951</option>
            <option>1950</option>
            <option>1949</option>
            <option>1948</option>
            <option>1947</option>
            <option>1946</option>
            <option>1945</option>
            <option>1944</option>
            <option>1943</option>
            <option>1942</option>
            <option>1941</option>
            <option>1940</option>
            <option>1939</option>
            <option>1938</option>
            <option>1937</option>
            <option>1936</option>
            <option>1935</option>
            <option>1934</option>
            <option>1933</option>
            <option>1932</option>
            <option>1931</option>
            <option>1930</option>
            <option>1929</option>
            <option>1928</option>
            <option>1927</option>
            <option>1926</option>
            <option>1925</option>
            <option>1924</option>
            <option>1923</option>
            <option>1922</option>
            <option>1921</option>
            <option>1920</option>
            <option>1919</option>
            <option>1918</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12">
      <form class="text-center">
        <div class="form-group">
          <label for="">Lugar de nacimineto:</label>
          <select class="form-control" id="dias">
            <option>Aguascalientes</option>
            <option>Baja California</option>
            <option>Baja California Sur</option>
            <option>Campeche</option>
            <option>CDMX</option>
            <option>Chiapas</option>
            <option>Chihuahua</option>
            <option>Coahuila</option>
            <option>Colima</option>
            <option>Durango</option>
            <option>Estado de México</option>
            <option>Guanajuato</option>
            <option>Guerrero</option>
            <option>Hidalgo</option>
            <option>Jalisco</option>
            <option>Michoacán</option>
            <option>Morelos</option>
            <option>Nayarit</option>
            <option>Nuevo León</option>
            <option>Oaxaca</option>
            <option>Puebla</option>
            <option>Querétaro</option>
            <option>Quintana Roo</option>
            <option>San Luis Potosí</option>
            <option>Sinaloa</option>
            <option>Sonora</option>
            <option>Tabasco</option>
            <option>Tamaulipas</option>
            <option>Tlaxcala</option>
            <option>Veracruz </option>
            <option>Yucatán</option>
            <option>Zacatecas </option>
            <option>Otro</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-4"></div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xsm-12">
      <div class="text-center">
        <button routerLink="/domicilio" class="btn btn-block btn-primary">Continuar</button>
        <br>
        <br>
        <footer>
          <div class="pull-right">
            Konsigue &copy; 2018
          </div>
        </footer>
      </div>
    </div>
    <div class="col-lg-4 col-md-4"></div>
  </div>
</div>
