<div class="mx-auto p-5 ">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card text-center login-card">
        <div class="card-body">
          <h4 class="card-title">
            <h3 class="h3">
              Recuperar contraseña
            </h3>
          </h4>
          <hr class="kge-line"/>
          <div class="card-text">
            <form action="" method="post">
              <div class="form-group">
                <label for="Email">Correo Electrónico</label>
                <input required minlength="4" type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Ingresa tu correo electrónico">
                <small id="emailHelp" class="form-text ">Te enviaremos un correo con las instrucciones para recuperar tu contraseña</small>
              </div>
              <button type="submit" class="btn kge-btn-principal">Enviar correo electrónico</button>
            </form>
          </div>
          <hr class="kge-line"/>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

</div>
