.login-card {
    background-color: none;
    color: white;
    background-color: transparent !important;
    border: none !important;
}

.text-muted-password {
  color: #ffffff!important;
}


.kge-line{
  color: #bcdaf8;
}
