<div class="row justify-content-center">
  <div class="columna col-12">
    <h1>Háblanos de tu experiencia</h1>
    <br>
  <div class="columna col-12">
    <h5>Tu historial de crédito es clave para conocerte mejor y diseñar tu oferta</h5>
  </div>
  </div>
</div>

<div class="row justify-content-center">
<div class="columna col-4">
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">¿Eres el titular de una tarjeta de crédito?</label>
    <div class="row form-group justify-content-around">
      <button type="button" class="btn btn-success col-4 btn-lg">Si</button> <button type="button" class="btn btn-danger col-4 btn-lg">No</button>
    </div>
    <label for="exampleInputEmail1">Últimos dígitos</label><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="xxxx">
  </div>
    <div class="form-group">
        <label for="exampleInputEmail1">¿Tienes un préstamo hipotecario?</label>
        <div >
          <button type="button" class="btn btn-success col-4 btn-lg">Si</button> <button type="button" class="btn btn-danger col-4 btn-lg">No</button>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">¿Has tenido un crédito automotriz?</label>
        <div>
          <button type="button" class="btn btn-success col-4 btn-lg">Si</button> <button type="button" class="btn btn-danger col-4 btn-lg">No</button>
          </div>
  </div>
<a routerLink="/ciec">  <button type="button" class="btn btn-primary btn-lg btn-block">Envíar</button></a>
</form>
</div>
</div>
