<div class="card text-dark">
    <img class="card-img-top" src="holder.js/100px180/" alt="">
    <div class="card-body">
      <h4 class="card-title">Representante de la empresa</h4>
      <hr/>
      <div class="card-text">
        <div class="p-5">
          <div class="form-group row ">
            <label for="NombreRepresentante" class="col-sm-4 col-md-2 col-form-label">Nombre</label>
            <div class="col-sm-8 col-md-10">
              <input type="text" class="form-control" id="NombreRepresentante" placeholder="Ingresa aqui el nombre de tu representante">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="tel" class="col-sm-4 col-form-label">Telefono local o celular</label>
                <div class="col-sm-8">
                  <input type="tel" class="form-control" id="tel" placeholder="Ingresa aqui un numero de contacto">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="mail" class="col-sm-4 col-form-label">Correo Electrónico</label>
                <div class="col-sm-8">
                  <input type="mail" class="form-control" id="mail" placeholder="Ingresa aqui tu correo Electrónico">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <a routerLink="/domicilio">
                <button type="button"  class="btn kge-btn-principal">Continuar</button>
              </a>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
