<div>
    <div class="row">
        <div class="col-md-10">
            <h3>
                {{provider_name}}
            </h3>
            <span>CDMX</span>
        </div>
        <div class="col-md-2">
            <a name="" id="" class="btn btn-sm btn-light" href="#" role="button">Analisis</a>
        </div>
    </div>
    <div class="supplier-summary">
        <hr class="text-light"/>
        <p class="card-text">{{provider_description}}</p>
    </div>
    <menu-suppliers></menu-suppliers>
</div>

<app-supplier-general-info></app-supplier-general-info>
<supplier-domicile></supplier-domicile>
