<div class="container fondo">
  <div class="row justify-content-center">
    <div class="columna col-12">
      <h2>¿Cuál es su domicilio?</h2>
      <div class="columna col-12">
        <p>Ingresa la dirección que aparece en tu identificación oficial (INE)</p>
      </div>
    </div>
  </div>
  <form data-parsley-validate>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="calle">Calle y número exterior</label>
          <div class="input-group">
            <input type="text" class="form-control" autocomplete="address-line1" id="calle" placeholder="Calle">
            <input type="text" class="form-control" autocomplete="address-line1" id="numero_exterior" placeholder="Numero Exterior">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="numero-interior">Número interior</label>
          <input type="text" class="form-control" autocomplete="address-line2" id="numero-interior" placeholder="Número interior">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="zipCode">Código Postal</label>
          <div class="input-group">
            <input [(ngModel)]="zipCode" autocomplete="postal-code" id="zipCode" name="zipCode" (focusout)="getAddress()" type="text" class="form-control" name="codigo-postal"
              placeholder="Código Postal">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="Colonia">Colonia</label>
          <select class="form-control">
            <option>Seleccione</option>
            <option *ngFor="let c of address.colonias" id="colonia">{{c}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="municipio">Municipio o delegación</label>
          <input value="{{address.municipio}}" required type="text" class="form-control" autocomplete="address-level2" id="municipio"  placeholder="Municipio o delegación" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="ciudad">Ciudad</label>
          <input type="text" class="form-control" autocomplete="address-level2" id="ciudad" placeholder="Ciudad" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="estado">Estado</label>
          <input value="{{address.estado}}" type="text" class="form-control" autocomplete="address-level1" id="estado" placeholder="Estado" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="country">Pais</label>
          <input type="text" disabled value="México" class="form-control" autocomplete="country-name" id="country" placeholder="Pais" />
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <div class="form-group">
          <button routerLink="../contactos" type="button" class="text-truncate btn btn-primary btn-md btn-block">
            Continuar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
