<div class="container fondo">
    <div class="row justify-content-center">
        <div class="columna col-12">
            <h2>¿Cuál es su domicilio?</h2>
            <div class="columna col-12">
                <p>Ingresa la dirección que aparece en tu identificación oficial (INE)</p>
            </div>
        </div>
    </div>
    <form>
        <div class="row justify-content-lg-start">
            <div class="columna offset-3 col-3 form-group">
                <label for="codigo-postal">Código Postal</label>
                <input [(ngModel)]="zipCode" type="text" class="form-control" name="codigo-postal" placeholder="Código Postal">
            </div>
            <div class="columna col-3">
                <label for="search-zipcode">&nbsp;</label>
                <button type="button" id="search-zipcode" class="btn btn-md btn-block search" (click)="onSearchClicked()">Buscar</button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="columna col-3 form-group">
                <label for="codigo-postal">Calle y número exterior</label>
                <input type="text" class="form-control" id="calle" placeholder="Calle y número exterior">
            </div>
            <div class="columna col-3 form-group">
                <label for="numero-interior">Número interior</label>
                <input type="text" class="form-control" id="numero-interior" placeholder="Número interior">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="columna col-3 form-group">
                <label for="Colonia">Colonia</label>
                <select class="form-control">
               <option >Seleccione</option>
               <option *ngFor="let c of address.colonias" id="colonia">{{c}}</option>
             </select>
            </div>
            <div class="columna col-3 form-group">
                <label for="municipio">Municipio o delegación</label>
                <input type="text" class="form-control" id="municipio" placeholder="Municipio o delegación" value="{{address.municipio}}" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="columna col-3 form-group">
                <label for="ciudad">Ciudad</label>
                <input type="text" class="form-control" id="ciudad" placeholder="Ciudad" value="{{address.ciudad}}" />
            </div>
            <div class="columna col-3 form-group">
                <label for="estado">Estado</label>
                <input type="text" class="form-control" id="estado" placeholder="Estado" value="{{address.estado}}" />
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="columna offset-3 col-3 form-group">
                <label for="telefono">Teléfono</label>
                <input type="text" class="form-control" id="telefono" placeholder="Teléfono">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="columna col-6">
                <a routerLink="contactos"><button type="button" class="btn btn-primary btn-md btn-block">Continuar</button></a>
            </div>
        </div>
    </form>
</div>