.separator {
    border-top: 1px solid #D8D8D8;
    margin-top: 10px;
    padding-top: 10px
}

#logo_login{
    border-radius: 15%;
    max-height: 65px;
}

a{
    color:white;
}
.registrate{
  cursor: pointer;
}
