<div class="p-3">
  <div class="row ">
    <div class="col-md-8">
      <h2> Contactos</h2>
    </div>
    <div class="col-md-2 text-right">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
        Agregar contacto
      </button>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <table class="table table-hover table-responsive">
      <thead class="thead-light">
        <tr>
          <th scope="col">Nombre del contacto</th>
          <th scope="col">Puesto</th>
          <th scope="col">Correo electrónico</th>
          <th scope="col">Telefono oficina</th>
          <th scope="col">Telefono móvil</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contacto of contactos">
          <td>{{contacto.name}}</td>
          <td>{{contacto.puesto}}</td>
          <td>
            <a href="mail:{{contacto.email}}">{{contacto.email}}</a>
          </td>
          <td>
            <a href="tel:{{contacto.telefono+' ext'+contacto.extension}}">{{contacto.telefono+' ext'+contacto.extension}}</a>
          </td>
          <td>
            <a href="tel:{{contacto.movil}}">{{contacto.movil}}</a>
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </button>
              <button type="button" class="btn btn-primary">
                <i class="fa fa-eye"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal fade registro-contacto" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agrega un contacto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="name">Nombre(s):
                </label>
                <input id="name" class="form-control" placeholder="Nombre(s)">
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="">Apellido Paterno:
                </label>
                <input class="form-control" placeholder="Apellido Paterno">
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="">Apellido Materno:
                </label>
                <input class="form-control" placeholder="Apellido Materno">
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="">Puesto:
                </label>
                <input class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="">Correo electrónico:
                </label>
                <input class="form-control" placeholder="Correo electrónico">
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="">Telefono de oficina:
                </label>
                <input class="form-control" placeholder="Telefono de oficina">
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="">Extension:
                </label>
                <input class="form-control" placeholder="Extension">
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="">Telefono móvil:
                </label>
                <input class="form-control" placeholder="Telefono móvil">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Agregar</button>
        </div>
      </div>
    </div>
  </div>
</div>
