<div class="p-4">
  <div class="row justify-content-center">

    <div class="col-md-12">
      <app-documents-financial-state></app-documents-financial-state>
    </div>


    <div class="col-sm-12">
      <h1 class="h1">
        Estados Financieros
      </h1>
      <hr>
    </div>

    <div class="col-md-12 col-sm-12">
      <form id="demo-form2" data-parsley-validate>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group ">
              <label class="control-label" for="last-name">Desde ejercicio:</label>
              <select class="form-control">
                <option>2010</option>
                <option>2011</option>
                <option>2012</option>
                <option>2013</option>
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group ">
              <label class="control-label" for="last-name">Hasta ejercicio:</label>
              <select class="form-control">
                <option>2010</option>
                <option>2011</option>
                <option>2012</option>
                <option>2013</option>
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
              </select>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <button class="btn btn-success" type="button">Buscar
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </form>

      <div>
        <table class="table table-striped datatable-responsive">
          <thead>
            <tr class="headings">
              <th class="column-title">Descripción </th>
              <th class="column-title">Parcial hasta </th>
              <th class="column-title">Ejercicio 2016: </th>
              <th class="column-title">Ejercicio 2015: </th>
              <th class="column-title">Ejercicio 2014: </th>
              <th class="column-title">Ejercicio 2013: </th>
              <th class="column-title">Ejercicio 2012: </th>
              <th class="column-title">Ejercicio 2011: </th>
              <th class="column-title">Ejercicio 2010: </th>
            </tr>
          </thead>

          <tbody>
            <tr class="even pointer">
              <td>Ventas netas</td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
            </tr>
            <tr class="even pointer">
              <td>Costo de ventas</td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
            </tr>
            <tr class="even pointer">
              <td>Utilidad de ventas</td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
            </tr>
            <tr class="even pointer">
              <td>Gasto de administración y ventas</td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
            </tr>
            <tr class="even pointer">
              <td>Depreciación y amortización</td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
            </tr>
            <tr class="even pointer">
              <td>Utilidad de operación</td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
            </tr>
            <tr class="even pointer">
              <td>Gastos financieros</td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
            </tr>
            <tr class="even pointer">
              <td>Productos financieros</td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
            </tr>
            <tr class="even pointer">
              <td>Utilidad antes de impuestos</td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
            </tr>
            <tr class="even pointer">
              <td>Impuestos</td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
              <td>
                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="btn-group" role="group" aria-label="Botones guardar, descargar y cancelar">
        <button type="button" class="btn btn-round btn-primary">Guardar
          <i class="fa fa-floppy-o"></i>
        </button>
        <button type="button" class="btn btn-round btn-danger">Descartar cambios
          <i class="fa fa-ban"></i>
        </button>
        <button type="button" class="btn btn-round btn-light">Descargar
          <i class="fa fa-download"></i>
        </button>
        <button routerLink="/Razones-Financieras" class="btn btn-round btn-secondary">RazonesFinancieras
          <i class="fa fa-"></i>
        </button>
      </div>
      <!--
  <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-round btn-primary">Guardar
              <i class="fa fa-floppy-o"></i>
            </button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-round btn-default">Descargar
              <i class="fa fa-download"></i>
            </button>
          </div>
        </div>
-->
    </div>
  </div>
</div>
