<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
        <a class="nav-link active" [@clicked]="states[0]" (click)="toggleState(0)">Resumen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" [@clicked]="states[1]" (click)="toggleState(1)">Contactos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" [@clicked]="states[2]" (click)="toggleState(2)">Representante legal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" [@clicked]="states[3]" (click)="toggleState(3)">Razones financieras</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" [@clicked]="states[4]" (click)="toggleState(4)">Estados financieras</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" [@clicked]="states[5]" (click)="toggleState(5)">Accionistas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" [@clicked]="states[6]" (click)="toggleState(6)">Documentos</a>
    </li>
</ul>