<div class="activity-chart">
  <div id="month" name="month" class="month"></div>
    <ol class="days-of-week">
      <li>M</li>
      <li>W</li>
      <li>F</li>
    </ol>
  <div class="chart">
    <div id="days" name="days" class="days"></div>
  </div>
  <div class="key">
    <span>Less</span>
    <ul>
      <li class = "activity-four"></li>
      <li class = "activity-three"></li>
      <li class = "activity-two"></li>
      <li class = "activity"></li>
      <li class = "day-key"></li>
    </ul>
    <span>More</span>
  </div>
</div>