<div class="card-body">
    <div class="container text-center">
        <div class="row justify-content-center">
            <h1 class="h1">
                Razones Financieras
            </h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group ">
                                <label class="control-label" for="last-name">Desde ejercicio:</label>
                                <select class="form-control" id="select-from" (click)="alerta()">
                                   <option *ngFor="let square of razonesFinancieras">{{square.Anio}} </option> 
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group ">
                                <label class="control-label" for="last-name">Hasta ejercicio:</label>
                                <select class="form-control">
                                        <option *ngFor="let square of razonesFinancieras">{{square.Anio}} </option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <button class="btn btn-success" type="button">Buscar
              <i class="fa fa-search"></i>
            </button>
                            </div>
                        </div>
                    </div>
                    <div class="datatable-responsive">
                        <table class="table table-striped jambo_table bulk_action datatable-responsive">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Descripcion </th>
                                    <th *ngFor="let square of razonesFinancieras" class="column-title">{{square.Menu}}</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="even pointer">
                                    <td>Crecimiento nominal de ventas</td>
                                    <td *ngFor="let square of razonesFinancieras">
                                        <input type="text" id="first-name" required="required" class="form-control recuadros col-md-7 col-xs-12" placeholder="{{square.CrecimientoNominal}}">
                                    </td>
                                </tr>
                                <tr class="even pointer">
                                    <td>Margen operativo</td>
                                    <td *ngFor="let square of razonesFinancieras ">
                                        <input type="text" id="first-name" required="required" class="form-control recuadros col-md-7 col-xs-12" placeholder="{{square.MargenOperativo}}">
                                    </td>
                                </tr>
                                <tr class="even pointer">
                                    <td>Productividad</td>
                                    <td *ngFor="let square of razonesFinancieras">
                                        <input type="text" id="first-name" required="required" class="form-control recuadros col-md-7 col-xs-12" placeholder="{{square.Productividad}}">
                                    </td>
                                </tr>
                                <tr class="even pointer">
                                    <td>Margen neto</td>
                                    <td *ngFor="let square of razonesFinancieras">
                                        <input type="text" id="first-name" required="required" class="form-control recuadros col-md-7 col-xs-12" placeholder="{{square.MargenNeto}}">
                                    </td>
                                </tr>
                                <tr class="even pointer">
                                    <td>Razon circulante</td>
                                    <td *ngFor="let square of razonesFinancieras">
                                        <input type="text" id="first-name" required="required" class="form-control recuadros col-md-7 col-xs-12" placeholder="{{square.RazonCirculante}}">
                                    </td>
                                </tr>
                                <tr class="even pointer">
                                    <td>Prueba del acido</td>
                                    <td *ngFor="let square of razonesFinancieras">
                                        <input type="text" id="first-name" required="required" class="form-control recuadros col-md-7 col-xs-12" placeholder="{{square.PruebaDelAcido}}">
                                    </td>
                                </tr>
                                <tr class="even pointer">
                                    <td>Pasivo financiero / Pasivo total</td>
                                    <td *ngFor="let square of razonesFinancieras">
                                        <input type="text" id="first-name" required="required" class="form-control recuadros col-md-7 col-xs-12" placeholder="{{square.PasivoTotal}}">
                                    </td>
                                </tr>
                                <tr class="even pointer">
                                    <td>Pasivo Financiero / Activo total</td>
                                    <td *ngFor="let square of razonesFinancieras">
                                        <input type="text" id="first-name" required="required" class="form-control recuadros col-md-7 col-xs-12" placeholder="{{square.ActivoTotal}}">
                                    </td>
                                </tr>
                                <tr class="even pointer">
                                    <td>Días proveedores</td>
                                    <td *ngFor="let square of razonesFinancieras">
                                        <input type="text" id="first-name" required="required" class="form-control recuadros col-md-7 col-xs-12" placeholder="{{square.DiasProveedores}}">
                                    </td>
                                </tr>
                                <tr class="even pointer">
                                    <td>Días inventarios</td>
                                    <td *ngFor="let square of razonesFinancieras">
                                        <input type="text" id="first-name" required="required" class="form-control recuadros col-md-7 col-xs-12" placeholder="{{square.DiasInventarios}}">
                                    </td>
                                </tr>
                                <tr class="even pointer">
                                    <td>Ciclo financiero</td>
                                    <td *ngFor="let square of razonesFinancieras">
                                        <input type="text" id="first-name" required="required" class="form-control recuadros col-md-7 col-xs-12" placeholder="{{square.CicloFinanciero}}">
                                    </td>
                                </tr>
                                <tr class="even pointer">
                                    <td>Capital de trabajo</td>
                                    <td *ngFor="let square of razonesFinancieras">
                                        <input type="text" id="first-name" required="required" class="form-control recuadros col-md-7 col-xs-12" placeholder="{{square.CapitalDeTrabajo}}">
                                    </td>
                                </tr>
                                <tr class="even pointer">
                                    <td>Razón cap. de trab.</td>
                                    <td *ngFor="let square of razonesFinancieras">
                                        <input type="text" id="first-name" required="required" class="form-control recuadros col-md-7 col-xs-12" placeholder="{{square.RazonCapTrab}}">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btn-group" role="group" aria-label="Botones guardar, descargar y cancelar">
                            <button type="button" class="btn btn-round btn-primary">Guardar
            <i class="fa fa-floppy-o"></i>
          </button>
                            <button type="button" class="btn btn-round btn-danger">Descartar cambios
            <i class="fa fa-ban"></i>
          </button>
                            <button type="button" class="btn btn-round btn-light">Descargar
            <i class="fa fa-download"></i>
          </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>