    <div class="container fondo">
      <div class="row justify-content-center">
        <div class="columna col-12">
          <h2>¿Cuál es tu domiclio?</h2>
        <div class="columna col-12">
          <p>Ingresa la dirección que aparece en tu identificación oficil (INE)</p>
        </div>
        </div>
      </div>
      <form>
        <div class="row justify-content-lg-start">
          <div class="columna offset-3 col-3 form-group">
             <label for="codigo-postal">Código Postal</label>
             <input type="number" class="form-control" id="codigo-postal" placeholder="Código Postal">
           </div>
           <div class="columna col-3">
              <label for="search-zipcode">&nbsp;</label>
              <button type="button" id="search-zipcode" class="btn btn-md btn-block">Buscar</button>
           </div>
        </div>
        <div class="row justify-content-center">
          <div class="columna col-3 form-group">
             <label for="codigo-postal">Calle y número exterior</label>
             <input type="text" class="form-control" id="codigo-postal" placeholder="Calle y número exterior">
           </div>
           <div class="columna col-3 form-group">
              <label for="codigo-postal">Número interior</label>
              <input type="text" class="form-control" id="codigo-postal" placeholder="Número interior">
            </div>
        </div>
        <div class="row justify-content-center">
          <div class="columna col-3 form-group">
             <label for="codigo-postal">Colonia</label>
             <input type="text" class="form-control" id="Colonia" placeholder="Colonia">
           </div>
           <div class="columna col-3 form-group">
              <label for="codigo-postal">Municipio o delegación</label>
              <input type="text" class="form-control" id="municipio" placeholder="Municipio o delegación">
            </div>
        </div>
        <div class="row justify-content-center">
          <div class="columna col-3 form-group">
             <label for="codigo-postal">Ciudad</label>
             <input type="text" class="form-control" id="Ciudad" placeholder="Ciudad">
           </div>
           <div class="columna col-3 form-group">
              <label for="codigo-postal">Estado</label>
              <input type="text" class="form-control" id="Estado" placeholder="Estado">
            </div>
        </div>
        <div class="row justify-content-start">
          <div class="columna offset-3 col-3 form-group">
             <label for="telefono">Teléfono</label>
             <input type="text" class="form-control" id="telefono" placeholder="Teléfono">
           </div>
        </div>
      <div class="row justify-content-center">
        <div class="columna col-6">
        <a routerLink="/tarjeta"><button type="button" class="btn btn-primary btn-md btn-block">Continuar</button></a>
        </div>
      </div>
      </form>
     </div>
