.row {
    margin: 7px 0;
}

.columna {
    text-align: center;
    background:none;
}

input {
    text-align: center;
}

a {
    color: white;
}

.login_wrapper {
    right: 0px;
    margin: 0px auto;
    margin-top: 5%;
    max-width: 350px;
    position: relative
}

.search {
    color: grey;
}