<div class="row justify-content-center">
    <div class="col-sm-12 col-4">
      <h3>Documentos Legales</h3>
    </div>
</div>
  <div class="row justify-content-center">
    <div class="">
      <div class="x_content">
          <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
              <div class="form-group">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <select class="form-control">
                      <option>Docu 1</option>
                      <option>Docu 2</option>
                      <option>Docu 3</option>
                      <option>Docu 4</option>
                      <option>Docu 5</option>
                      </select>
                      <br>
                      <input type="file" class="form-control-file" id="exampleFormControlFile1">
                      <br>
                      <button type="button" class="btn btn-round btn-primary">Adjuntar <i class="fa fa-upload"></i></button>
                </div>
              </div>
              </form>
        <div class="datatable-responsive">
              <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th class="column-title">Ver </th>
                      <th class="column-title">Documento </th>
                      <th class="column-title">Estatus </th>
                      <th class="column-title">Observaciones o Comentarios </th>
                      <th class="column-title">Validar </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr class="even pointer">
                      <td><button type="button" class="btn btn-round btn-warning"><i class="fa fa-download"></i></button></td>
                      <td>Acta</td>
                      <td>Rechazado</td>
                      <td class=" ">
                        <textarea id="message" required="required" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="10" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                        data-parsley-validation-threshold="10"></textarea></td>
                        <td class=" ">
                            <button class="btn btn-round" [@clicked]="states[0].state" (click)="toggleState(0)"><i class="fa fa-check"></i></button>   
                    </td>
                    </tr>
                    <tr class="even pointer">
                        <td><button type="button" class="btn btn-round btn-warning"><i class="fa fa-download"></i></button></td>
                        <td>Comrpobante</td>
                        <td>Aceptado</td>
                        <td class=" ">
                          <textarea id="message" required="required" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="10" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                          data-parsley-validation-threshold="10"></textarea></td>
                          <td class=" ">
                              <button class="btn btn-round" [@clicked]="states[1].state" (click)="toggleState(1)"><i class="fa fa-check"></i></button>   
                      </td>
                      </tr>
                      <tr class="even pointer">
                          <td><button type="button" class="btn btn-round btn-warning"><i class="fa fa-download"></i></button></td>
                          <td>RFC</td>
                          <td>Rechazado</td>
                          <td class=" ">
                            <textarea id="message" required="required" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="10" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                            data-parsley-validation-threshold="10"></textarea></td>
                            <td class=" ">
                                <button class="btn btn-round" [@clicked]="states[2].state" (click)="toggleState(2)"><i class="fa fa-check"></i></button>   
                        </td>
                        </tr>


                  </tbody>
                </table>
        </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4 justify-content-center"> 
      <a><button type="button" class="btn btn-info btn-block">Guardar</button></a>
    </div>
    <div class="col-4"></div>
  </div>