<br>
<div class="row justify-content-center">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <h3>Documentos Legales</h3>
    </div>
</div>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="datatable-responsive">
              <table class="table table-hover table-sm jambo_table bulk_action">
                  <thead class="thead-light">
                    <tr class="headings">
                      <th class="column-title">Documento </th>
                      <th class="column-title">Adjuntar</th>
                      <th class="column-title">Ver </th>
                      <th class="column-title">Estatus </th>
                      <th class="column-title">Observaciones o Comentarios </th>
                      <th class="column-title">Validar </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr class="even pointer">
                      <td class="first-column">Acta</td>
                      <td data-th="Adjuntar"><div><button type="button" class="btn btn-round btn-primary"><i class="fa fa-upload"></i></button></div></td>
                      <td data-th="Ver"><div><button type="button" class="btn btn-round btn-warning"><i class="fa fa-download"></i></button></div></td>
                      <td data-th="Status"><div>{{states[0].status}}</div></td>
                      <td data-th="Observaciones y Comentarios" class=" ">
                        <textarea id="message" required="required" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="10" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                        data-parsley-validation-threshold="10"></textarea>
                      </td>
                      <td data-th="Validar" class=" ">
                          <div>
                            <button class="btn btn-round" [@clicked]="states[0].state" (click)="toggleState(0)"><i class="fa fa-check"></i></button>   
                          </div>  
                      </td>
                    </tr>                    
                    <tr class="even pointer">
                        <td class="first-column">Comprobante</td>
                        <td data-th="Adjuntar"><div><button type="button" class="btn btn-round btn-primary"><i class="fa fa-upload"></i></button></div></td>
                        <td data-th="Ver"><div><button type="button" class="btn btn-round btn-warning"><i class="fa fa-download"></i></button></div></td>
                        <td data-th="Status"><div>{{states[1].status}}</div></td>
                        <td data-th="Observaciones y Comentarios" class=" ">
                          <textarea id="message" required="required" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="10" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                          data-parsley-validation-threshold="10"></textarea>
                        </td>
                        <td data-th="Validar" class=" ">
                            <div>
                              <button class="btn btn-round" [@clicked]="states[1].state" (click)="toggleState(1)"><i class="fa fa-check"></i></button>   
                            </div>  
                        </td>
                      </tr>
                      <tr class="even pointer">
                          <td class="first-column">RFC</td>
                          <td data-th="Adjuntar"><div><button type="button" class="btn btn-round btn-primary"><i class="fa fa-upload"></i></button></div></td>
                          <td data-th="Ver"><div><button type="button" class="btn btn-round btn-warning"><i class="fa fa-download"></i></button></div></td>
                          <td data-th="Status"><div>{{states[2].status}}</div></td>
                          <td data-th="Observaciones y Comentarios" class=" ">
                            <textarea id="message" required="required" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="10" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                            data-parsley-validation-threshold="10"></textarea>
                          </td>
                          <td data-th="Validar" class=" ">
                              <div>
                                <button class="btn btn-round" [@clicked]="states[2].state" (click)="toggleState(2)"><i class="fa fa-check"></i></button>   
                              </div>  
                          </td>
                        </tr>


                  </tbody>
                </table>
        </div>
  </div>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4 justify-content-center"> 
      <a><button type="button" class="btn btn-info btn-block">Guardar</button></a>
    </div>
    <div class="col-4"></div>
  </div>