.row {
    margin: 7px 0;
}

.columna {
    text-align: center;
    background: none;
}

input {
    text-align: center;
}

.terminos {
    color: white;
    cursor: pointer;
}

.terminos {
    text-decoration: underline;
}

a:hover {
    color: white;
    text-decoration: none;
}

.modal {
    text-align: left;
    color: black;
    font-style: 14px;
}

p {
    margin: 0 0 10px;
    line-height: 1.6;
}

#exampleCheck1 {
    width: 18px;
    height: 18px;
}

.modal-header {
    background-color: #3e4a59;
    color: white;
}

textarea.form-control {
    height: 400px;
    text-align: left !important;
    resize: none;
}