<div>
  <div class="card text-white bg-k-primary" style="color: black !important;border:none; background-color: transparent !important;">
    <img class="card-img-top" src="holder.js/100px180/" alt="">
    <div class="card-body">
      <div class="row">
        <div class="col-md-10">
          <h4>
            {{provider_name}}
          </h4>
          <span>CDMX</span>

        </div>
        <div class="col-md-2">
          <a name="" id="" class="btn btn-md btn-info" href="#" role="button">Analisis</a>
        </div>
        <div class="col-md-12">
          <HR>
          <menu-suppliers></menu-suppliers>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet class="p-4" name="supplier"></router-outlet>
