<p>
    <a name="" id="" class="btn btn-info" routerLink="../../resumen" role="button">Empresa 1</a>
</p>

<ul class="nav nav-pills mb-5 justify-content-between" id="pills-tab" role="tablist">
    <li class="card bg-link  mb-3 nav-item ">
        <a class="nav-link  card-body bg-link" id="pills-analizadas-tab" data-toggle="pill" href="#pills-analizadas" role="tab" aria-controls="pills-analizadas" aria-selected="true">
            <h4 class="card-title ">Analizadas</h4>
        </a>
    </li>
    <li class="card bg-link mb-3 nav-item">
        <a class="nav-link card-body bg-link" id="pills-autorizadas-tab" data-toggle="pill" href="#pills-autorizadas" role="tab" aria-controls="pills-autorizadas" aria-selected="false">
            <h4 class="card-title">Autorizadas</h4>
        </a>
    </li>
    <li class="card bg-link mb-3 nav-item">
        <a class="nav-link bg-link" id="pills-pre-autorizadas-tab" data-toggle="pill" href="#pills-pre-autorizadas" role="tab" aria-controls="pills-pre-autorizadas" aria-selected="false">
            <h4 class="card-title ">Pre-autorizadas</h4>
        </a>
    </li>
    <li class="card bg-link mb-3 nav-item">
        <a class="nav-link card-body bg-link" id="pills-proceso-tab" data-toggle="pill" href="#pills-proceso" role="tab" aria-controls="pills-proceso" aria-selected="false">
            <h4 class="card-title ">En Proceso</h4>
        </a>
    </li>
    <li class="card bg-link mb-3 nav-item">
        <a class="nav-link card-body bg-link" id="pills-rechazadas-tab" data-toggle="pill" href="#pills-rechazadas" role="tab" aria-controls="pills-rechazadas" aria-selected="false">
            <h4 class="card-title ">Rechazadas</h4>
        </a>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <table class="tab-pane fade show active table" id="pills-analizadas" role="tabpanel" aria-labelledby="pills-analizadas-tab">
        <thead class=" thead-dark ">
            <tr>
                <th scope="col ">Analizadas</th>
                <th scope="col ">Nombre de la empresa</th>
                <th scope="col ">Giro comercial</th>
                <th scope="col ">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row ">1</th>
                <td>Empresa 1</td>
                <td>Servicios de TI</td>
                <td>
                    <a name="" id="" class="btn btn-info" routerLink="../resumen" role="button">
              Ver detalles
            </a>
                </td>
            </tr>
            <tr>
                <th scope="row ">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row ">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
    <table class="tab-pane fade table" id="pills-autorizadas" role="tabpanel" aria-labelledby="pills-autorizadas-tab">
        <thead class=" thead-dark ">
            <tr>
                <th scope="col ">Autorizadas</th>
                <th scope="col ">First</th>
                <th scope="col ">Last</th>
                <th scope="col ">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row ">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row ">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row ">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
    <table class="tab-pane fade table" id="pills-pre-autorizadas" role="tabpanel" aria-labelledby="pills-pre-autorizadas-tab">
        <thead class=" thead-dark ">
            <tr>
                <th scope="col ">Pre-autorizadas</th>
                <th scope="col ">First</th>
                <th scope="col ">Last</th>
                <th scope="col ">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row ">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row ">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row ">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
    <table class="tab-pane fade table" id="pills-proceso" role="tabpanel" aria-labelledby="pills-proceso-tab">
        <thead class=" thead-dark ">
            <tr>
                <th scope="col ">En Proceso</th>
                <th scope="col ">First</th>
                <th scope="col ">Last</th>
                <th scope="col ">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row ">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row ">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row ">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
    <table class="tab-pane fade table" id="pills-rechazadas" role="tabpanel" aria-labelledby="pills-rechazadas-tab">
        <thead class=" thead-dark ">
            <tr>
                <th scope="col ">Rechazadas</th>
                <th scope="col ">First</th>
                <th scope="col ">Last</th>
                <th scope="col ">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row ">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row ">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row ">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>