/*
Admin pager distributor
*/

.bg-k-primary{
  background-color: #003D7F !important;
  color: white;
}

#sidebar-container {
  min-height: 100vh !important;
}

#row {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 575px) {
  .page {
    width: 100% !important;
  }
}

.page {
  position: absolute;
  margin-right: 0;
  padding-right: 0 !important;
  padding-left: 0px;
  right: 0px;
  width: calc(100% - 230px);
}
