<div class="row justify-content-center">
  <div class="columna col-12">
    <h1>Háblanos de tu experiencia</h1>
    <br>
  <div class="columna col-12">
    <h5>Tu historial de crédito es clave para conocerte mejor y diseñar tu oferta</h5>
  </div>
  </div>
</div>

<div class="row justify-content-center">
<div class="columna col-4">
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">¿Eres el titular de una tarjeta de crédito?</label>
    <div class="row form-group justify-content-center">
      <label class="btn btn-secondary" [@clicked]="states[0].state" (click)="toggleState(0)">Si</label> &nbsp;&nbsp;
      <label class="btn btn-secondary" [@clicked]="states[1].state" (click)="toggleState(1)">No</label>
      </div>
    <div  *ngIf="states[0].mostrar">
      <label for="exampleInputEmail1" >Últimos dígitos de la tarjeta: </label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="xxxx">
    </div>
  </div>
    <div class="form-group">
        <label for="exampleInputEmail1">¿Tienes un préstamo hipotecario?</label>
        <div >
          <label class="btn btn-secondary">Si</label>&nbsp;
            <label class="btn btn-secondary">No</label>
          </div>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">¿Has tenido un crédito automotriz?</label>
        <div>
          <label class="btn btn-secondary">Si</label>&nbsp;
            <label class="btn btn-secondary">No</label>
    </div>
  </div>
<a routerLink="/registro/ciec">  <button type="button" class="btn btn-primary btn-lg btn-block">Envíar</button></a>
</form>
</div>
</div>
