.registro-accionista{
    color: black;
}

.form-control{
    display: inline;
    width: 50%; 
}

label{
    width:25%;
}

label.c {
    width: 90%;
}

.separator {
    border-top: 1px solid #D8D8D8;
    margin-top: 10px;
    padding-top: 10px
}

td > div {
    float: right;
  }

@media only screen and (max-width: 40em) {
    thead th:not(:first-child) {
      display: none;
    }
    td, th {
      display: block;
      clear: both;
    }
    td[data-th]:before {
      content: attr(data-th);
      float: left;
    }
  }