<div class="container text-center" @animationSwitch>
  <div class="row">
    <div class="card">
      <img class="card-img-top" src="assets/img/personas.png" alt="Card image cap">
      <div class="card-header">
          <h4>¿Qué tipo de persona eres?</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <a routerLink="/registro-fisico">
              <button type="button" class="btn btn-info">Persona física</button>
            </a>
          </div>
          <div class="col-6">
            <a routerLink="/Registro-Moral">
              <button type="button" class="btn btn-info">Persona moral</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

