<div class="mt-3">
  <div class="card">
    <h5 class="card-header">
      Domicilio
    </h5>
    <div class="card-body">
      <!-- <h4 class="card-title d-flex" aria-expanded="true" aria-controls="Domicilio">
        <h4 class="card-title d-flex" (click)="toggleArrow()" data-toggle="collapse" data-target="#Domicilio" aria-expanded="false"
        aria-controls="Domicilio"> 
        Domicilio
        <i [ngClass]="arrow" class="fa justify-content-end"></i> 
      </h4> -->
      <div class="card-text">
        <div id="Domicilio" aria-labelledby="headingOne" data-parent="#accordionExample">
          <!-- <div id="Domicilio" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample"> -->
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="calle">Calle y número exterior</label>
                    <div class="input-group">
                      <input value="{{address.street}}" disabled type="text" class="form-control" id="calle" placeholder="Calle">
                      <input value="{{address.street_number}}" disabled type="text" class="form-control" id="numero_exterior" placeholder="Numero Exterior">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="numero-interior">Número interior</label>
                    <input value="{{address.adress_details}}" disabled type="text" class="form-control" id="numero-interior" placeholder="Número interior">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="codigo-postal">Código Postal</label>
                    <div class="input-group">
                      <input value="{{address.zip_code}}" disabled type="text" class="form-control" placeholder="Codigo Postal" aria-label="Codigo Postal"
                        aria-describedby="Codigo Postal">
                      <div class="input-group-append">
                        <button disabled type="button" id="search-zipcode" class="btn btn-outline-info">Buscar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="colonia">Colonia</label>
                    <input value="{{address.zone}}" disabled type="text" class="form-control" id="colonia" placeholder="Municipio o delegación"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="municipio">Municipio o delegación</label>
                    <input value="{{address.town}}" disabled type="text" class="form-control" id="municipio" placeholder="Municipio o delegación"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="ciudad">Ciudad</label>
                    <input value="{{address.city}}" disabled type="text" class="form-control" id="ciudad" placeholder="Ciudad" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="estado">Estado</label>
                    <input value="{{address.state}}" disabled type="text" class="form-control" id="estado" placeholder="Estado" />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <button type="button" class="text-truncate btn btn-primary btn-md btn-block">
                      <i class="fa fa-edit"></i> Editar Información
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
