<div class="container text-center">
    <div class="row justify-content-center">
        <h1 class="h1">
            Razones Financieras
        </h1>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group ">
                            <label class="control-label" for="last-name">Desde ejercicio:</label>
                            <select class="form-control">
                <option>2010</option>
                <option>2011</option>
                <option>2012</option>
                <option>2013</option>
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
              </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group ">
                            <label class="control-label" for="last-name">Hasta ejercicio:</label>
                            <select class="form-control">
                <option>2010</option>
                <option>2011</option>
                <option>2012</option>
                <option>2013</option>
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
              </select>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <button class="btn btn-success" type="button">Buscar
                <i class="fa fa-search"></i>
              </button>
                        </div>
                    </div>
                </div>
                <div class="datatable-responsive">
                    <table class="table table-striped jambo_table bulk_action datatable-responsive">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">Descripción </th>
                                <th class="column-title">Parcial hasta </th>
                                <th class="column-title">Ejercicio 2016: </th>
                                <th class="column-title">Ejercicio 2015: </th>
                                <th class="column-title">Ejercicio 2014: </th>
                                <th class="column-title">Ejercicio 2013: </th>
                                <th class="column-title">Ejercicio 2012: </th>
                                <th class="column-title">Ejercicio 2011: </th>
                                <th class="column-title">Ejercicio 2010: </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="even pointer">
                                <td>Crecimiento nominal de ventas</td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td>Margen operativo</td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td>Productividad</td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td>Margen neto</td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td>Razon circulante</td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td>Prueba del acido</td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td>Pasivo financiero / Pasivo total</td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td>Pasivo Financiero / Activo total</td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td>Días proveedores</td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td>Días inventarios</td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td>Ciclo financiero</td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td>Capital de trabajo</td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td>Razón cap. de trab.</td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                                <td>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" placeholder="0.00">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn-group" role="group" aria-label="Botones guardar, descargar y cancelar">
                        <button type="button" class="btn btn-round btn-primary">Guardar
              <i class="fa fa-floppy-o"></i>
            </button>
                        <button type="button" class="btn btn-round btn-danger">Descartar cambios
              <i class="fa fa-ban"></i>
            </button>
                        <button type="button" class="btn btn-round btn-light">Descargar
              <i class="fa fa-download"></i>
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>