<div id="insituciones-financieras">
  <h3>Relación con instituciones financieras</h3>
  <div class="table-responsive">
    <table class="table table-hover">
      <caption>Relación con instituciones financieras [Cantidades en miles de pesos (1000mxn)*]</caption>
      <thead class="thead-default">
        <tr>
          <th>Nombre Institución Financiera</th>
          <th>Tipo de Institución</th>
          <th>Facturación por servicios últimos 12 meses</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let institution of InstitutionsList">
          <td scope="row">{{institution.name}}</td>
          <td>{{institution.type}}</td>
          <td>${{institution.last_12_months_amount}}k</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div>
  <h3>Registro Único de Proveedores y Contratistas SFP</h3>
  <table class="table">
    <caption>Registro Único de Proveedores y Contratistas SFP: Secretaría de la Función Pública</caption>
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Fecha Inscripción</th>
        <th>Núm Contratos</th>
        <th>Grado Cump</th>
        <th>Contratista Sancionado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row"></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
    
  </table>
</div>
