<div class="row justify-content-center">
  <div class="columna col-12">
    <h2>Vamos a calcular el monto de tu préstamo</h2>
  <div class="columna col-12">
    <p>Ingresa estos datos y ahorra semanas en reunir estados de cuenta y declaracionesfiscales</p>
  </div>
  </div>
</div>

<div class="row justify-content-center">
<div class="columna col-6">
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">RFC con el que facturas:</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tu RFC">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Contraseña del SAT (CIEC):</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tu CIEC">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Acepto que Konsigue consulte mi información fiscal en modo lectura y sin permisos para crear o modificar datos.</label>
  </div>
  <a href="loading.html"><button type="button" class="btn btn-primary btn-lg btn-block">Envíar</button></a>
</form>
</div>
</div>
