/* ***************************************************
    Created on : 20/06/2018, 15:12:06 PM
    Author     : Rodrigo R. Rubio Haro
    Company    : Konsigue
****************************************************/

/******************************************************************
Navbar, Header:
******************************************************************/
.navbar{
    background-color: #003D7F !important;
}