<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">
    <div class="logo-header-container ">
      <img src="assets/img/logo-blanco.png" class="logo" alt="" id="logo_login">
    </div>
  </a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <!--This menu is hidden in bigger devices with d-sm-none. 
          The sidebar isn't proper for smaller screens imo, so this dropdown menu can keep all the useful sidebar itens exclusively for smaller screens  -->
      <li class="nav-item dropdown d-sm-block d-md-none">
        <a class="nav-link" [routerLink]="[{ outlets: {'admin': ['inicio']}} ]">
          Inicio
        </a>
        <a class="nav-link" [routerLink]="[{ outlets: {'admin': ['proveedores']}} ]">
          Empresas
        </a>
        <a class="nav-link" [routerLink]="['../../login']">
          Cerrar Sesión
        </a>
      </li>
      <!-- Smaller devices menu END -->

    </ul>
  </div>
</nav>
